.headerText { 
    text-align: center;
}

.text {
    display: flex;
    justify-content: center;
}

.spacer {
    height: 50px;
}

.addToCart {
    float: right;
    border-radius: 15pt;
    background-color: #FFB600;
    color: white;
    font-weight: bold;
    font-size: 10pt;
    border: 0;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: auto;
}

.PPButtons {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.nextPP_white {
    margin-bottom: 1px;
    float: right;
    color: white;
    padding: 5px;
}

.nextPP_black {
    margin-bottom: 1px;
    float: right;
    color: black;
    padding: 5px;
}

.priceWC {
    text-align: right;
    color: #ff5656;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: Roboto;
}

.priceWG {
    text-align: right;
    color: #c4bd72;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: Roboto;
}

.priceMT {
    text-align: right;
    color: #5b5b5b;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: Roboto;
}

.priceFA {
    text-align: right;
    color: #55b9ce;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: Roboto;
}

.priceEET {
    text-align: right;
    color: #48c47e;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: Roboto;
}

.priceCV {
    text-align: right;
    color: #ceae69;
    font-size: 16px;
    padding-bottom: 15px;
    font-family: Roboto;
}

.masterDiv {
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    left: 0;
}

.tesselation {
    height: 90vh;
    width: 100%;
    z-index: 1;
}

.infoDivWC {
    width: 40%;
    height: 90vh;
    background-color: #fcadab;
    z-index: 10;
    margin: 0 auto;
    padding: 10px;
}

.infoDivWG {
    width: 40%;
    height: 90vh;
    background-color: #ffffc8;
    z-index: 10;
    margin: 0 auto;
    padding: 10px;
}

.infoDivMT {
    width: 40%;
    height: 90vh;
    background-color: #e2e2e2;
    z-index: 10;
    margin: 0 auto;
    padding: 10px;
}

.infoDivFA {
    width: 40%;
    height: 90vh;
    background-color: #c8e7ee;
    z-index: 10;
    margin: 0 auto;
    padding: 10px;
}

.infoDivETT {
    width: 40%;
    height: 90vh;
    background-color: #c8ecd3;
    z-index: 10;
    margin: 0 auto;
    padding: 10px;
}

.infoDivCV {
    width: 40%;
    height: 90vh;
    background-color: #f6eee0;
    z-index: 10;
    margin: 0 auto;
    padding: 10px;
}

.imageDiv {
    height: 90vh;
    width: 58%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    left: 0;
}

.image {
    position: absolute;
    height: auto;
    width: 50vw;
    transform: rotate(90deg);
    left: 0;
    margin: 0;
    z-index: 3;
}

.FAimage {
    position: absolute;
    height: auto;
    width: 30vw;
    transform: rotate(90deg);
    left: 7vw;
    z-index: 3;
}

.WCTitle1 {
    z-index: 2;
    position: absolute;
    color: #ff5656;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    top: 22vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.WCTitle2 {
    z-index: 2;
    position: absolute;
    color: #ff5656;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    bottom: 8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.WGTitle1 {
    z-index: 2;
    position: absolute;
    color: #f4ea9c;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    top: 22vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.WGTitle2 {
    z-index: 2;
    position: absolute;
    color: #f4ea9c;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    bottom: 8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.MTTitle1 {
    z-index: 2;
    position: absolute;
    color: #5b5b5b;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    top: 22vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.MTTitle2 {
    z-index: 2;
    position: absolute;
    color: #5b5b5b;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    bottom: 8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.FATitle1 {
    z-index: 2;
    position: absolute;
    color: #8dcfdd;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    top: 22vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.FATitle2 {
    z-index: 2;
    position: absolute;
    color: #8dcfdd;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    bottom: 8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.CVTitle1 {
    z-index: 2;
    position: absolute;
    color: #e2cea3;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    top: 21vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.CVTitle2 {
    z-index: 2;
    position: absolute;
    color: #e2cea3;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    bottom: 8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.ETTTitle1 {
    z-index: 2;
    position: absolute;
    color: #48c47e;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    top: 22vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.ETTTitle2 {
    z-index: 2;
    position: absolute;
    color: #48c47e;
    font-family: 'Calmer-Bold';
    left: 7vw;
    text-align: left;
    bottom: 8vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 7vw;
}

.productTitle_white {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    font-family: 'Calmer-Bold';
    color: white;
}

.productTitle_black {
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    font-family: 'Calmer-Bold';
    color: black;
}


.productSubTitle_white {
    text-align: right;
    color: white;
    font-size: 3vh;
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;
}

.productSubTitle_black {
    text-align: right;
    color: black;
    font-size: 3vh;
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;
}

.productSubTitleMT {
    text-align: right;
    color: white;
    font-size: 3vh;
    font-style: italic;
    font-weight: bold;
    font-family: Roboto;
}

.productTextWC {
    text-align: right;
    color: #ff5656;
    font-size: 2.25vh;
    padding-bottom: 25px;
    font-family: Roboto;
}

.productTextWG {
    text-align: right;
    color: #c4bd72;
    font-size: 2.25vh;
    padding-bottom: 25px;
    font-family: Roboto;
}

.productTextMT {
    text-align: right;
    color: #5b5b5b;
    font-size: 2.25vh;
    padding-bottom: 25px;
    font-family: Roboto;
}

.productTextFA {
    text-align: right;
    color: #55b9ce;
    font-size: 2.25vh;
    padding-bottom: 25px;
    font-family: Roboto;
}

.productTextETT {
    text-align: right;
    color: #48c47e;
    font-size: 2.25vh;
    padding-bottom: 25px;
    font-family: Roboto;
}

.productTextCV {
    text-align: right;
    color: #ceae69;
    font-size: 2.25vh;
    padding-bottom: 25px;
    font-family: Roboto;
}


