.ShopAllText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.TextFill {
  flex-grow: 1;
}

.Items {
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
  color: #676767;
}
