.Wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Card{
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  text-align: center;
  width: 40vw;
}

.Form{
  display:flex;
  flex-direction: column;
}

.Field {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

.ButtonWrapper{
  padding: 10px;
}

.SignUp{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
