.NaviBar{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  margin-top: 1vh;
  position: sticky;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #676767;
}

.NaviButtons{
  text-decoration: none;
}

.NaviButtons:hover{
  color: #01C9E1;
}
